<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
        <h3>Edit your listing</h3>
        <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%=listing.title%>" type="text">
        </div>
       
        <div class="mb-3">
            <label for="discription"  class="form-label">Description</label>
            <textarea name="listing[description]"><%=listing.discription%></textarea>
        </div>

        <div class="mb-3">
            <label for="image"  class="form-label">Url</label>
            <input name="listing[image][url]" value="<%=listing.image.url%>">
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price"  class="form-label">Enter Price</label>
                <input name="listing[price]" value="<%=listing.price%>" type="number">
            </div>
    
            <div class="mb-3 col-md-8">
               <label for="country"  class="form-label">Enter Country</label>
               <input name="listing[country]" value="<%=listing.country%>" type="text">
            </div>
        </div>
    
        
        <div class="mb-3">
            <label for="location"  class="form-label">Enter Location</label>
            <input name="listing[location]" value="<%=listing.location%>" type="text">
        </div>
        <button class="btn btn-dark mb-3 add-btn">Add</button>
    </form>
</div>
</div>
</body>











































