<%layout("/layouts/boilerplate")%>
<!-- <body>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Listing Details :</h3>

     <div class="card show-card">
    <img src="<%=listing.image.url%>" class="card-img-top show image" alt="listing_image">
    <div class="card-body">
    <p class="card-text">
        <b><li><%=listing.title%></li></b>
        <br>
        <li><%=listing.description%></li>
        <br>  
        <li>&#8377;<%= listing.price.toLocaleString("en-IN") %></li><br>
        <li><%=listing.location%></li><br>
        <li><%=listing.country%></li>  
        </p>
  </div>
     </div>

     <div class="btns">
        <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark col-2">Edit</a>
        <br><br>
        <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
            <button class="btn btn-dark ">Delete</button>
        </form>
     </div> -->
 

<!-- </div>
</div>
</body> -->


<body>
    <div class="container">
        <h3>Listing Details:</h3>
        <div class="card show-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image">
            <div class="card-body show-image">
                <h5 class="card-title"><%= listing.title %></h5>
                <p class="card-text">
                    <strong>Description:</strong>
                    <br><%= listing.description %>
                    <br><strong>Price:</strong> &#8377;<%= listing.price.toLocaleString("en-IN") %>
                    <br><strong>Location:</strong> <%= listing.location %>
                    <br><strong>Country:</strong> <%= listing.country %>
                </p>
            </div>
        </div>
        <div class="btns mb-3">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1">Edit</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger offset-3">Delete</button>
            </form>
        </div>
    </div>
</body>
