<% layout("/layouts/boilerplate") %>
    <div class="container">
        <h3>Listing Details:</h3>
        <div class="card show-card">
            <img src="<%= listing.image.url %>" class="card-img-top show-image" alt="<%= listing.title %>">
            <div class="card-body">
                <h5 class="card-title"><%= listing.title %></h5>
                <p class="card-text">
                    <strong>Description:</strong>
                    <br><%= listing.description || 'N/A' %>
                    <br><strong>Price:</strong> &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : 'N/A' %>
                    <br><strong>Location:</strong> <%= listing.location || 'N/A' %>
                    <br><strong>Country:</strong> <%= listing.country || 'N/A' %>
                </p>
            </div>
        </div>
        <div class="btns mb-3">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1">Edit</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger offset-3">Delete</button>
            </form>
        </div>
    </div>
